
img {
    width: 100%;
}

.li_img {
    width: 900px;
    float: left;
    list-style: none;
}

.ul_img {
    width: 6000px;
    transition: all 2s;
}

.main_div {
    width: 900px;
    overflow: hidden;
    position: relative;
    top: 100px;
    left: 175px;
    justify-content: center;
}

.div_btn {
    float: left;
    border-radius: 100px;
    background-color: gainsboro;
    width: 60px;
    height: 10px;
    margin-left: 10px;
    margin-top: 30px;
}

.div_btn:hover {
    background-color: gray;

}