.btn-pass {
    width: 150px;
    height: auto;
    font-size: 15px;
    margin: 110px 10px 0;
    border-color: rgba(14,71,165,0.7);
    color: white;
    background-color: rgba(14,71,165,0.7);
}

.btn-pass:hover {
    color: rrgba(14,71,165,0.7);
    background-color: white;
    border-color: rgba(14,71,165,0.7);
}

.btn-unPass {
    width: 150px;
    height: auto;
    font-size: 15px;
    margin: 0 10px;
    color: rgba(14,71,165,0.7);
    border-color:rgba(14,71,165,0.7);
}

.btn-unPass:hover {
    color: white;
    background-color: rgba(14,71,165,0.7);
}