.title_statistics {
    color: rgb(45,101,155);
    font-style: oblique;
}


#user_level {
    margin: 20px;
}

#profitPerDay, #profitPerMonth, #profitPerYear, #user_level, #typeProfitPerDay, #typeProfitPerMonth,
#typeProfitPerYear, #soldRatio, #venues_income, #venueNum{
    width: 600px;
    height: 400px;
    margin-left: 15%
}