
.price {
    font-weight: normal;
    font-size: 36px;
    color: orange;
}

.status {
    width: 90px;
}

.purchaseType {
    font-size: 14px;
}

.title > span {
    margin: 0 10px;
}

p {
    color: mediumpurple;
}