.info_table {
    margin: 20% 15%;
}

.col-lg-4 > label, .col-lg-8 > label {
    font-size: 18px;
    font-weight: normal;
    margin-top: 5px;
}

.col-lg-4 > label {
    -webkit-text-fill-color: black;
}

.view {
    margin-left: 20%;
    margin-top: -15%;
}

