.info_table {
    margin: 3%;
}

.col-lg-8 > label {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}

.view {
    margin-left: 20%;
}

.user-img {
    border-radius: 5em;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 23%;
    top: 40%;
}

.col-lg-4 > span {
    margin-top: 10px;
    color: gray;
}

hr {
    margin-left: -10px;
}

.col-lg-6 {
    margin-top: 15px;
}

.coupon {
    background-color: lightsalmon;
    color: white;
    padding: 5%;
}

.number {
    font-size: 100px;
    margin: 25px 0;
}

.money {
    margin-left: 5px;
    font-size: 20px;
}

#my_info {
    padding: 8% 25% 0 25%;
}

.title > span {
    margin: 0 10px;
}