.projectBasic {
    margin-left: 30%;
}

.col-lg-4, .col-lg-3 {
    margin-top: 10px;
}

.project {
    box-shadow: 0 0 20px 0 #eee;
    border-radius: 2em;
    border-color: black;
    position: absolute;
    top: 20%;
    left: 55px;
    padding: 55px;
    background-color: white;
}

.projectDetail {
    margin-top: 50px;
}

blockquote {
    font-size: 16px;
}

#project_type {
    position: absolute;
    top: 45px;
    right: 65px;
    font-size: 32px;
    font-family: STXingkai;
    color: powderblue;
}

.projectImage {
    width: 225px;
    height: auto;
    position: absolute;
    top: -20px;
    left: 10%;
    border-radius: 2em;
    box-shadow: 0 0 5px 0 gainsboro;
}

.online {
    width: 100px;
    border-radius: 0.5em;
    background-color: #3a78c3;
    border-color: transparent;
}

.online:hover {
    background-color: lightskyblue;
    border-color: transparent;
}

.underline {
    width: 100px;
    border-radius: 0.5em;
    background-color: lightskyblue;
    border-color: transparent;
}

.underline:hover {
    background-color: #3a78c3;
    border-color: transparent;
}

body{
    background-color: whitesmoke;
}