/*body {*/
    /*background-color: whitesmoke;*/
/*}*/

.info {
    margin: 10% 15%;
    padding: 3%;
    background-color: white;
    min-height: 600px;
}

.title {
    padding: 12px;
    font-size: 15px;
    box-shadow: 0 1px gainsboro;
}

#list {
    padding: 8% 25% 0 25%;
}

#modify_btn {
    margin-left: 40%;
}

span {
    margin: 0 20px;
}

body {
    background-color: whitesmoke;
}