.confirmBtn {
    margin-left: 20%;
    margin-top: 30%;
}

textarea {
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0.5em;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#begin_time_calendar {
    margin-top: -400px;
    margin-left: -400px;
    height: 30px;
    width: 300px;
    padding: 0 6px;
    border: 1px solid #ccc;
    outline: none;
}

#end_time_calendar {
    margin-top: -400px;
    margin-left: -400px;
    height: 30px;
    width: 300px;
    padding: 0 6px;
    border: 1px solid #ccc;
    outline: none;
}

.input_seat {
    width: 100px;
}

.page {
    margin-left: 300px;
    margin-top: -220px;
}

.choose {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Wenquanyi Micro Hei", "Microsoft Yahei", Arial, sans-serif;
    justify-content: center;
}

.main_project {
    margin: 13% 10%;
}


span {
    margin: 0 20px;
}

#list {
    padding-top: 80px;
}
